fastapi==0.100.1
pydantic==2.1.1
pydantic_settings==2.0.2
sqlalchemy==2.0.25
orjson==3.9.12
uvicorn==0.27.0.post1
sqlmodel==0.0.14
asyncpg==0.29.0
alembic==1.13.1
yookassa==3.0.1
async-fastapi-jwt-auth==0.6.1
celery==5.3.6
redis==5.0.1
psycopg2==2.9.9
pytest==7.4.4
pytest_asyncio==0.23.4
httpx==0.26.0